
<html>
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=windows-1252">
  </head>
<body>
  <app-header (selectedTab)="onTabClicked($event)" ></app-header> 
   <!--This is coming from the 'selectedTab' of header component.There, this 'selectedTab' is declared as event emitter there -->
  <!-- here this tabSelected will hold value coming from headerComponent -->
   <div class="container">
    <div class="col-md-12">
      <app-recipes *ngIf="loadTab === 'recipe'" ></app-recipes>
      <app-shopping-list *ngIf="loadTab !== 'recipe'"></app-shopping-list>
    </div>
  </div>
</body>
</html>